input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

a{
  text-decoration:none;
}
header{
  background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
main{
  background: rgb(1,4,2);
  background: linear-gradient(110deg, rgba(1,4,2,0.8099614845938375) 0%, rgba(27, 27, 27, 0.87) 55%, rgb(10, 25, 51) 93%);
}
.errorToast{
  background: #ED213A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.successToast{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.successToast1{
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
}
.toastShadow{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.myDrawer{
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(152, 152, 152) 100%);
}

.myContainer{
  display: flex;
  flex: 1;
  height: 100%;
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  -webkit-box-shadow: 10px 11px 19px 2px rgba(0,0,0,0.73); 
  box-shadow: 10px 11px 19px 2px rgba(0,0,0,0.73);
  border-radius: 15px;
  padding:15px;
  flex-direction: column;
}

/* Table */
.tableRowStyles{
  background-color: #0a1933;
  border-bottom: 1px solid black;
}
.tableRowStyles:hover{
  background-color: gray;
}

.green{
  color:'#26df8b';
  background-color: '#26df8b';
}

.myHr{
  border: none;
  height: 20px;
  width: 100%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #ffffffb3;
  -webkit-box-shadow: 0 20px 20px -20px #333;
  box-shadow: 0 20px 20px -20px #cddeca63;
  margin: -50px auto 10px;
}


/* Card */

.cardHeader{
  background-color:blue;
}