@import '../../@theme/styles/themes';

@include nb-install-component() {
  background: nb-theme(card-bg); // now, for each theme registered the corresponding value will be inserted
  #day-selector-container{
    border: 1px solid nb-theme(color-success);
    border-radius: 5px;
    outline-color: nb-theme(color-success)   
  }

  .list-blocks{
    display: flex;
    flex-direction: column;
  }

}